{% extends "layout.html" %}

{% block style %}
    <style>  
            div.blog-post {
            margin-left: 23%;
            margin-bottom: 50px;
            }

            .blog-post .post-image img {
            width: 100%;
            }

            .blog-post .post-image p {
            text-align: center;
            font-size: 14px;
            margin-top: 10px;
            }

            .blog-post .post-image a {
            font-weight: 600;
            }

            .blog-post .post-title h1 {
            color: #333333;
            font-size: 35px;
            line-height: 45px;
            font-weight: 700;
            margin-top: 24px;
            }

            .blog-post .post-title h2 {
            font-size: 25px;
            line-height: 35px;
            font-weight: 600;
            letter-spacing: 0.5px;
            }

            .blog-post .post-info {
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            padding: 10px 0;
            color: #8c8c8c;
            }

            .blog-post p {
            font-size: 16px;
            line-height: 30px;
            color: #696868;
            font-weight: 300;
            letter-spacing: 0.8px;
            font-family: "Poppins", sans-serif;
            }


    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <!-- Blog Post Start -->
        <div class="col-md-12 blog-post">
            <div class="post-title">
                <a href="#"><h1>Учебный проект блога на Flask </h1></a>
            </div>  
            <div class="post-info">
                <span>Июнь 18, 2022 / by <a href="#" target="_blank">Норцев В.С</a></span>
            </div>  
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>                          			
            <a href="#" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
        </div>
        <!-- Blog Post End -->
    </div>

{% endblock content %}
